In [174]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np
from bs4 import BeautifulSoup
import re

In [175]:
#Reading tables from website
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dataframe_list = pd.read_html(url, flavor='bs4')

In [176]:
#Data is on first table
table = dataframe_list[0]

In [223]:
#Converting table to array
data = table.to_numpy()

In [224]:
#Converting to 1D array
data = data.reshape(data.shape[0]*data.shape[1],)

In [243]:
data_df = pd.DataFrame(data)

In [244]:
# all info in 'all' column
data_df.columns = ['all']

In [245]:
# "PostCode" extracted
data_df['PostalCode'] = data_df['all'].str.extract('(.{3})',expand=False)

In [246]:
data_df.head()

                                               all PostalCode
0                                  M1ANot assigned        M1A
1                                  M2ANot assigned        M2A
2                         M3ANorth York(Parkwoods)        M3A
3                  M4ANorth York(Victoria Village)        M4A
4  M5ADowntown Toronto(Regent Park / Harbourfront)        M5A

In [247]:
#all info except 'PostalCode' in in temp 'rest' column
data_df['rest']=data_df['all'].str.replace(r'^(.{3})','')

<ipython-input-247-b6930228a476>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data_df['rest']=data_df['all'].str.replace(r'^(.{3})','')

In [248]:
data_df.drop(columns=['all'],inplace=True)

In [249]:
data_df.head()

  PostalCode                                          rest
0        M1A                                  Not assigned
1        M2A                                  Not assigned
2        M3A                         North York(Parkwoods)
3        M4A                  North York(Victoria Village)
4        M5A  Downtown Toronto(Regent Park / Harbourfront)

In [250]:
# records with no 'Borough' removed
data_df = data_df[data_df['rest'] != 'Not assigned']

In [251]:
data_df.head()

  PostalCode                                           rest
2        M3A                          North York(Parkwoods)
3        M4A                   North York(Victoria Village)
4        M5A   Downtown Toronto(Regent Park / Harbourfront)
5        M6A  North York(Lawrence Manor / Lawrence Heights)
6        M7A    Queen's Park(Ontario Provincial Government)

In [252]:
# "Borough" extracted
data_df['Borough'] = data_df['rest'].str.extract('(.+?)\(.+',expand=False)

In [253]:
data_df.head()

  PostalCode                                           rest           Borough
2        M3A                          North York(Parkwoods)        North York
3        M4A                   North York(Victoria Village)        North York
4        M5A   Downtown Toronto(Regent Park / Harbourfront)  Downtown Toronto
5        M6A  North York(Lawrence Manor / Lawrence Heights)        North York
6        M7A    Queen's Park(Ontario Provincial Government)      Queen's Park

In [254]:
# 'Borough' data removed from 'rest'
data_df['rest'] = data_df['rest'].str.replace('^[^(]+','')

<ipython-input-254-2508a9661765>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data_df['rest'] = data_df['rest'].str.replace('^[^(]+','')

In [255]:
# "Neighborhood" extracted
data_df['Neighborhood'] = data_df['rest'].str.extract('\((.+)\).{0,}',expand=False)

In [256]:
data_df.head()

,PostalCode,rest,Borough,Neighborhood
2,M3A,(Parkwoods),North York,Parkwoods
3,M4A,(Victoria Village),North York,Victoria Village
4,M5A,(Regent Park / Harbourfront),Downtown Toronto,Regent Park / Harbourfront
5,M6A,(Lawrence Manor / Lawrence Heights),North York,Lawrence Manor / Lawrence Heights
6,M7A,(Ontario Provincial Government),Queen's Park,Ontario Provincial Government

In [257]:
#'rest' column dropped
data_df.drop(columns=['rest'],inplace=True)

In [258]:
# index reset
data_df.reset_index(drop=True,inplace=True)

In [259]:
data_df.head()

  PostalCode           Borough                       Neighborhood
0        M3A        North York                          Parkwoods
1        M4A        North York                   Victoria Village
2        M5A  Downtown Toronto         Regent Park / Harbourfront
3        M6A        North York  Lawrence Manor / Lawrence Heights
4        M7A      Queen's Park      Ontario Provincial Government

In [260]:
data_df['Borough'].value_counts()

North York                                                      24
Scarborough                                                     17
Downtown Toronto                                                17
Etobicoke                                                       11
Central Toronto                                                  9
West Toronto                                                     6
York                                                             5
East Toronto                                                     4
East York                                                        4
MississaugaCanada Post Gateway Processing Centre                 1
East TorontoBusiness reply mail Processing Centre969 Eastern     1
Queen's Park                                                     1
East YorkEast Toronto                                            1
Downtown TorontoStn A PO Boxes25 The Esplanade                   1
EtobicokeNorthwest                                               1
Name: Borough, dtype: int64

In [261]:
data_df.shape

(103, 3)